
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', 'Outfit', sans-serif;
  background-color: #F8FAFC;
  color: #2C3E50;
}


.kaizen-error-snackbar {
  background-color: #F26A1B !important;
  color: #FFFFFF !important;
  font-weight: 500;

  .mat-mdc-snack-bar-action button {
    color: #FFFFFF !important;
  }
}


input, textarea, button {
  font-family: inherit;
}
